.gradient
{
background-image: linear-gradient(to bottom, #ffffff, #f6f6f9, #eeedf3, #e5e5ed, #dcdce7);
}
.title
{
 	position: relative;
  margin-top: 0%;
  font-size: 70px;
}
.em-shopping_bags
{
  position: relative;
  margin-top: 11%;
  font-size: 50px;
}
.white
{
background-color: white;
}
a.huge:hover
{
  background-color: rgba(0,0,255,0.05) !important;
}
a.huge
{
  position: relative;
  top: -25px;
  padding: 10px 20px !important;
	font-size: 28px !important;
}
H2.desc
{
  margin-top: 27%;
  font-size: 32px;
  color: #00001a;
}
@media only screen and (max-width: 768px) {
  H2.desc
  {
    margin-top: 120%;
  }
  .title
  {
   	position: relative;
    margin-top: 0%;
    font-size: 60px;
  }
  .em-shopping_bags
  {
    position: relative;
    margin-top: 47%;
    font-size: 60px;
  }
  .info
  {
    position: absolute;
    top: 7px !important;
    right: 5px;
  }
  .donate
  {
    position: relative;
    top: 50px !important;
  }
  .paypl
  {
    position: relative; top: 59px !important;
  }
  H2.desc
  {
    margin-top: 19%;
    font-size: 25px;
  }
  .op6t
  {
    display: none;
  }
  .rn6p
  {
    display: none;
  }
  .desc2
  {
    display: none;
  }
  .nav-buttons
	{
		display: inline-flex !important;
	}
  .nav-title
	{
			position: relative;
			left: 2%;
			transform: translate(0%, 0%);
	}
  div.contact
	{
    text-align: center;
	   align-items:center;

	}
  a.tel
  {
    display: inline-flex;

  }
  .sidec
  {
    height: 89% !important;

  }
  .mCSB_draggerContainer
  {
    display: none;
  }


}
body.gradient
{
max-width: 100%;
    overflow-x: hidden;
}

.desc2
{
  position: absolute; border-style: solid; border-width: 2px; border-color: #e0e0e0; top: 70px; padding: 8px 8px; font-weight: 600; width: 410px; font-size: 18px; background-color: rgba(255,255,255,1);
}
.tip
{
  position: absolute;
  top: 56%; right: 10%; padding: 8px 8px; font-weight: 600; width: 100%; font-size: 20px; background-color: rgba(1,1,1,0.05);
}
.paypl
{
  position: relative; top: 110px;
}
.info
{
  position: absolute;
  top: 5px;
  right: 5px;
}
.donate
{
  position: relative;
  top: 100px;
}
.credit
{
  position: absolute;
  bottom: -35px;
  left: 5px;
}
:target:before {
content:"";
display:block;
height:10px; /* fixed header height*/
margin: 0px 0 0; /* negative fixed header height */
}
.bug
{
  	padding: 3px 15px;
    font-size: 24px;
}
a.bug:hover
{
  background-color: #ebefff !important;
}
.line-in-middle {

    height:200px;
	  background: linear-gradient(to right,
	                              transparent 0%,
	                              transparent calc(49.8% - 0.81px),
	                              #2196f3 calc(49% - 0.5px),
	                              #2196f3 calc(50% + 0.5px),
	                              transparent calc(50% + 0.81px),
	                              transparent 100%);
	}
.prc{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 7px 17px;
  font-size: 20px;
}
.nokia
{
  position: relative;
  top: -6px;
  left: 3px;
}
.op
{
  position: relative;
  top: 5px;
}

img{
  padding: 0px;
  margin: 0px;
}
.hideme
{
    opacity:0;
}
.menu{
  position: fixed;
  top: 2px;
  left: 2px;
  font-size: 30px;
}
.cbtn-flat
{
  padding-bottom: 14px !important;
}
.slide-wrapper
{
  height: 90.5%;
  width: 100%;

}
  .slide{
    display: inline-block;
    background-color: rgba(255,255,255,1);
    z-index: 999;
    top: 10px;
  }
  .slide2{
    display: inline-block;
    background-color: transparent;
    z-index: 999;
    position: relative;
    left: 10px;
    top: -120px;
  }
.info-pannel
{
  position: absolute;
  bottom: 30px; left: 10px;
}
div.info-pannel>p
{
   line-height: 70%;
   font-weight: 500;
}
.smol
{
  height: 100%;
  width: 300px;
  margin-left: 5px;
  margin-right: 30px;

}
.palce
{
  position: absolute;
  bottom: 50px;
  font-size: 15px;
}
.sidec
{
  height: 87%;
   min-width: 300px;
   margin-left: 3px;
   margin-right: 30px;
}
